<div class="container">
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i1" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i2" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i3" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i4" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i5" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i6" />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i16" />
    </div>
    <div class="col-8">
      <span>抽一張比大</span><br />
      <span id="result">{{ result }}</span>
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i7" />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i15" />
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i8" />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i14" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i13" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i12" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i11" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i10" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i9" />
    </div>
  </div>
  <div class="row mt-5">
    <div style="display: flex; align-items: center; justify-content: center">
      <button
        type="button"
        name=""
        id="ButtonStart"
        class="btn btn-outline-info btn-lg btn-block"
        (click)="ButtonStart()"
      >
        開始
      </button>
    </div>
  </div>
</div>
