<div class="container">
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i1" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i2" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i3" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i4" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i5" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i6" alt="" />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i16" alt="" />
    </div>
    <div class="col-8">
      <span>抽一張比大</span><br />
      <span id="result">{{ result }}</span>
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i7" alt="" />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i15" alt="" />
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i8" alt="" />
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-2">
      <img [src]="itemImageUrl" id="i14" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i13" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i12" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i11" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i10" alt="" />
    </div>
    <div class="col-2">
      <img [src]="itemImageUrl" id="i9" alt="" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button
        type="button"
        name=""
        id="ButtonStart"
        class="btn btn-outline-info btn-lg btn-block"
        (click)="ButtonStart()"
      >
        開始
      </button>
    </div>
  </div>
</div>
